.container {
  position: relative
}

.textArea {
  position: fixed;
  padding: 32px;
  width: 100%;
  bottom: 0;
  border: none;
  outline: none;
  font-size: 60px;
  padding-right: 162.72px;
}

.button {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 32px;
}

.buttonImage {
  height: 180px;
  vertical-align: middle;
}
